
/* Loading local fonts */
@font-face {
    font-family: 'Altero';
    src: url(fonts/Altero_regular/Altero\ Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Questrial';
    src: url(fonts/Questrial-Regular.ttf) format('truetype');
}

/* Main Colour Palette Reusauble */
:root {
  --navy: #001F3D;
  --orange: #ED985F;
  --peach: #F7B980;
  --light: #E6E6E6;
}

/* Resetting browser margin and padding to elements */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Style */
body {
    background-color: var(--navy);
    color: var(--peach);
    font-family: 'Questrial', sans-serif /* fallback to any sans serif */

}

h1, h2, h3 {
    font-family: 'Altero', sans-serif;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 200px;
}

.logo img {
    width: 100px;
    height: auto; /* Image won't stretch */
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.nav-links a {
  color: var(--light);
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Homepage Body */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--light);
}   

.hero p {
    font-size: 24px;
}
.hero h1 {
    font-size: 36px;
}

/* Feature Body */
